<<<<<<< HEAD
html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	color: #616161;
  text-align: center;
  align-items: center;
	background-color: #D1D1D1;
}

body.home{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	color: #A9A9A9;
	background-color: white;
}

a {
  color: white;
  text-decoration: none}

.home{
  text-align: center;
  align-items: center;
}

h1.home{
  font-size: 72px;
}
h1{
	font-family: sans-serif;
	font-size: 55px;
}
.home-text-animation{
  display: inline-block;
	animation: type 4s steps(20);
	overflow:hidden;
	white-space: nowrap;
	border-right: 4px transparent #A9A9A9;
}

@keyframes type {
	0% {
		width: 0ch;
		border-right: 4px solid #A9A9A9;
	}
	100% {
		width: 40ch;
		border-right: 4px solid #A9A9A9;
	}
}

button.home{
  background-color: #008CBA;
  font-size: 24px;
  color: white;
  border-radius: 4px;
  border: 2px solid #008CBA;
  width: 250px;
  height: 45px;
}

#myProgress {
    width: 400px;
    background-color: grey;
		align-self: center;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
		align-self: center;
}

button{
	font-size: 24px;
  color: white;
  border-radius: 4px;
  width: 200px;
  height: 45px;
	background-color: #008CBA;
}

.fill{
	text-align: center;
	width: 400px;
	height: 30px;
	font-size: 25px;
	border-radius: 4px;
	font-family: sans-serif;
}
.select-gender  input{
  display: none;
}

.dob{
	text-align: right;
	font-size: 25px;
	width: 255px;
	height: 30px;
	font-family: sans-serif;
}
label.select-gender {
  display: inline-block;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
}

#female:checked ~ label[for="female"],
#male:checked ~ label[for="male"],
#other:checked ~ label[for="other"]{
  background: #999;
  color: #ffffff;
}

label[for="female"],
label[for="male"],
label[for="other"]{
	background: white;
  color: #616161;
}

.select-race  input{
  display: none;
}

label.select-race {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
}

#hispanic:checked ~ label[for="hispanic"],
#black:checked ~ label[for="black"],
#native:checked ~ label[for="native"],
#asian:checked ~ label[for="asian"],
#pacific:checked ~ label[for="pacific"],
#white:checked ~ label[for="white"],
#other-r:checked ~ label[for="other-r"]{
  background: #999;
  color: #ffffff;
}

label[for="hispanic"],
label[for="black"],
label[for="native"],
label[for="asian"],
label[for="pacific"],
label[for="white"],
label[for="other-r"]{
	background: white;
  color: #616161;
}
=======
html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	color: #616161;
  text-align: center;
  align-items: center;
	background-color: #D1D1D1;
}

body.home{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	color: #A9A9A9;
	background-color: white;
}

a {
  color: white;
  text-decoration: none}

.home{
  text-align: center;
  align-items: center;
}

h1.home{
  font-size: 72px;
}
h1{
	font-family: sans-serif;
	font-size: 55px;
	padding:0
}
.home-text-animation{
  display: inline-block;
	animation: type 4s steps(20);
	overflow:hidden;
	white-space: nowrap;
	border-right: 4px transparent #A9A9A9;
}

@keyframes type {
	0% {
		width: 0ch;
		border-right: 4px solid #A9A9A9;
	}
	100% {
		width: 40ch;
		border-right: 4px solid #A9A9A9;
	}
}

button.home{
  background-color: #008CBA;
  font-size: 24px;
  color: white;
  border-radius: 4px;
  border: 2px solid #008CBA;
  width: 250px;
  height: 45px;
}

#myProgress {
    width: 400px;
    background-color: grey;
		align-self: center;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
		align-self: center;
}

button{
	font-size: 24px;
  color: white;
  border-radius: 4px;
  width: 200px;
  height: 45px;
	background-color: #008CBA;
}

.drop{
	text-align: center;
	width: 300px;
	height: 30px;
	font-size: 20px;
	border-radius: 4px;
	font-family: sans-serif;
	color: #616161;
}

.fill{
	text-align: center;
	width: 400px;
	height: 30px;
	font-size: 25px;
	border-radius: 4px;
	font-family: sans-serif;
}
.select-gender  input{
  display: none;
}

.dob{
	text-align: right;
	font-size: 25px;
	width: 255px;
	height: 30px;
	font-family: sans-serif;
}
label.select-gender {
	display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	padding: 20px;
}

#female:checked ~ label[for="female"],
#male:checked ~ label[for="male"],
#other:checked ~ label[for="other"]{
  background: #999;
  color: #ffffff;
}

label[for="female"],
label[for="male"],
label[for="other"]{
	background: white;
  color: #616161;
}

.select-race  input{
  display: none;
}

label.select-race {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	padding: 20px;
}

#hispanic:checked ~ label[for="hispanic"],
#black:checked ~ label[for="black"],
#native:checked ~ label[for="native"],
#asian:checked ~ label[for="asian"],
#pacific:checked ~ label[for="pacific"],
#white:checked ~ label[for="white"],
#other-r:checked ~ label[for="other-r"]{
  background: #999;
  color: #ffffff;
}

label[for="hispanic"],
label[for="black"],
label[for="native"],
label[for="asian"],
label[for="pacific"],
label[for="white"],
label[for="other-r"]{
	background: white;
  color: #616161;
}

.select-transp  input{
  display: none;
}

label.select-transp {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	padding: 20px;
}

#own:checked ~ label[for="own"],
#borrow:checked ~ label[for="borrow"],
#public:checked ~ label[for="public"],
#none:checked ~ label[for="none"]{
  background: #999;
  color: #ffffff;
}

label[for="own"],
label[for="borrow"],
label[for="public"],
label[for="none"]{
	background: white;
  color: #616161;
}

.select-more  input{
  display: none;
}

label.select-more {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	padding: 20px;
}

#work-auth:checked ~ label[for="work-auth"],
#citizen:checked ~ label[for="citizen"],
#gov-id:checked ~ label[for="gov-id"],
#license:checked ~ label[for="license"]{
  background: #999;
  color: #ffffff;
}

label[for="work-auth"],
label[for="citizen"],
label[for="gov-id"],
label[for="license"]{
	background: white;
  color: #616161;
}


.select-school input{
  display: none;
}
label.select-school{
	display: inline-block;
  width: 300px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	color: #616161;
	background-color:white;
	font-family: sans-serif;
}
#current-school:checked~label[for="current-school"]{
	background: #999;
	color: #ffffff;
	font-family: sans-serif;
}

label[for="current-School"]{
	background: white;
	color: #616161;
	font-family: sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;
    background: #000000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.select-youth  input{
  display: none;
}

label.select-youth {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer
	padding: 20px;
}

#foster:checked ~ label[for="foster"],
#incarc:checked ~ label[for="incarc"],
#juvie:checked ~ label[for="juvie"],
#single-p:checked ~ label[for="single-p"],
#free:checked ~ label[for="free"],
#dropout:checked ~ label[for="dropout"],
#parent:checked ~ label[for="parent"],
#work:checked ~ label[for="work"]{
  background: #999;
  color: #ffffff;
}

label[for="foster"],
label[for="incarc"],
label[for="juvie"],
label[for="single-p"],
label[for="free"],
label[for="dropout"],
label[for="parent"],
label[for="work"]{
	background: white;
  color: #616161;
}
>>>>>>> afterReversions
