<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="contact">
    <div class=""><h1 id="control-8802286">To Get in Touch</h1></div>
    <div class=""><h2 id="control-4797044">Home Address</h2></div>
    <div class="form-fill-in">
      <label for="address" class="fill"></label>
      <input type="text" placeholder="Street Address" class="form-fill-in" name="address" id="address">
    </div>
    <div class="form-fill-in">
      <label for="city" class="fill"></label>
      <input type="text" placeholder="City" class="form-fill-in" name="city" id="city">
    </div>
    <div class="fb-text form-group field-text-1538805513148">
      <label for="text-1538805513148" class="fill"></label>
      <input type="text" placeholder="County" class="form-control" name="text-1538805513148" id="text-1538805513148">
    </div>
    <div class="fb-select form-group field-select-1538805593213">
      <label for="select-1538805593213" class="fb-select-label"></label>
      <select class="form-control" name="select-1538805593213" id="select-1538805593213">
        <option disabled="null" selected="null">State</option>
      <option value="option-1" id="select-1538805593213-0">AL</option>
      <option value="option-2" id="select-1538805593213-1">AK</option>
      <option value="option-3" id="select-1538805593213-2">AZ</option>
      <option id="AR">AR</option>
      <option id="CA">CA</option>
      <option id="CO">CO</option>
      <option id="CT">CT</option>
      <option id="DE">DE</option>
      <option id="FL">FL</option>
      <option id="GA">GA</option>
      <option id="HI">HI</option>
      <option id="ID">ID</option>
      <option id="IL">IL</option>
      <option id="IN">IN</option>
      <option id="IA">IA</option>
      <option id="KS">KS</option>
      <option id="KY">KY</option>
      <option id="LA">LA</option>
      <option id="ME">ME</option>
      <option id="MD">MD</option>
      <option id="MA">MA</option>
      <option id="MI">MI</option>
      <option id="MN">MN</option>
      <option id="MS">MS</option>
      <option id="MO">MO</option>
      <option id="MT">MT</option>
      <option id="NE">NE</option>
      <option id="NV">NV</option>
      <option id="NH">NH</option>
      <option id="NJ">NJ</option>
      <option id="NM">NM</option>
      <option id="NY">NY</option>
      <option id="NC">NC</option>
      <option id="ND">ND</option>
      <option id="OH">OH</option>
      <option id="OK">OK</option>
      <option id="OR">OR</option>
      <option id="PA">PA</option>
      <option id="RI">RI</option>
      <option id="SC">SC</option>
      <option id="SD">SD</option>
      <option id="TN">TN</option>
      <option id="TX" selected>TX</option>
      <option id="UT">UT</option>
      <option id="VT">VT</option>
      <option id="VA">VA</option>
      <option id="WA">WA</option>
      <option id="WV">WV</option>
      <option id="WI">WI</option>
      <option id="WY">WY</option>
    </select></div>
      <div class="fb-text form-group field-text-1538805531319"><label for="text-1538805531319" class="fill"></label><input type="text" placeholder="Zip Code" class="form-control" name="text-1538805531319" id="text-1538805531319"></div>
      <div class=""><h2 id="control-515729">Other Information</h2></div><div class="fb-text form-group field-text-1538806480197"><label for="text-1538806480197" class="fill"></label><input type="text" placeholder="Email Address" class="form-control" name="text-1538806480197" id="text-1538806480197"></div>
      <div class="fb-text form-group field-text-1538806498725"><label for="text-1538806498725" class="fill"></label><input type="text" placeholder="Phone Number" class="form-control" name="text-1538806498725" id="text-1538806498725"></div>
    </div></form>
  <button type="previous" form="form1" value="Previous"><a href="1.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="3.html">Continue</a></button>
</body>
</html>
