<!DOCTYPE html>
<html lang="en">

<head>
    <title>SER Jobs</title>
    <script src="/static/jquery-3.2.1.js"></script>
    <script src="/static/main.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="page-header">
        <h1>SER Application</h1>
    </div>

    <div id='form1'>
        <form>
        <p>This is page 2.</p>

            Address:<br>
            <input name="address" type="text" name="firstname">
            <br>
            Date of Birth:<br>
            <input name="dateofbirth" type="text" name="lastname">
            <br><br>
        </form>
        <button id='next'>Next</button>
    </div>

</body>