<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">

  <script src="/static/jquery-3.2.1.js"></script>
  <script src="/static/main.js"></script>
</head>

<body>
<form id="home">
  <div class="home">
    <br/>
    <img src="../static/img/serlogo.jpg" alt="SER Jobs for Progress">
    <br/>
    <div class="home-text-animation"><h1 class="home">Welcome!</h1></div>
    <br/>

    <button class="home" type="button" class="btn" name="button" style="info" id="start">Start Application</a></button></div>
    <br/>
    <button class="home" type="button" class="btn" name="button" style="info">Continue Application</a></button></div>
  </div>
</form>
</body>

</html>
