<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Trello</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/confirm-message.css">

</head>
<body>

    <div class = "content">

        <div class = "confirm-msg">

            <form action = "/message-page" method="GET">

                <h2 id = "confirm-text" >Your message has been sent </h2>
                <input id = "return-btn" type = "submit" value = "Return to Posting" />

            </form>

        </div>

    </div>


</body>
</html>