<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Trello</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/message-page.css" type="text/css" title = "Original Styles">

</head>
<body>

    {% if message %}

        <script>

            alert("{{message}}")

        </script>

    {% endif %}

    <!-- Javascript for loading bar !-->
    <script>

        function startLoadingBar()
        {
            document.getElementById("loader").style.visibility = "visible";
        }

    </script>

    <div class="header">

        <div class = "org-img-div">

            <img id = "org-img" src="../static/img/logo_current_transparent.png" /> 

        </div>

        <div class= "org-title-div">

            <h1 id="reminder-title"> Trello Reminder Page</h1>

        </div>

    </div>

    <img id = "loader" class = "loader" src="../static/img/logo_current_transparent.png" />

    <form id="selection-form" method="POST" action="/handle-message">
          
        <div class="selection-card">
  
            <div class= "select-person">
                <p class="select-label">Select people to send reminders to</p>
                <input name="member" class="person-checkbox" type="checkbox" value = "all-members"> All Members <br>
                {% if members %}

                    {% for member in members %}
                    <input name="member" class="person-checkbox" type="checkbox" value = "{{member}}"> {{member}} <br>
                    {% endfor %}

                {% endif %}

            </div>

            <div class = "select-message-type">
                <p class="select-label">Select a message type</p>
                <select name="msg-selector" id="msg-selector" form="selection-form">
                    
                    <option value="all-msg">All Types</option>
                    <option value="text">Text</option>
                    <option value="fb">Facebook</option>
                    <option value = "email">Email</option>

                </select>
            </div>

            <div class= "reminder-btn-div">

                <input onclick="startLoadingBar()" id="reminder-btn" type="submit" value="Remind">

            </div>
        
        </div>

    </form>


</body>
</html>