<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="rendered-form">
    <div class="title"><h1 id="control-4743682">Getting Started</h1></div>
    <div class="form-fill-in"><label for="text-1538804355187" class="fb-text-label"></label><input type="text" placeholder="First Name" class="form-control" name="text-1538804355187" id="text-1538804355187"></div>
    <div class="form-fill-in"><label for="text-1538804357320" class="fb-text-label"></label><input type="text" placeholder="Middle Name" class="form-control" name="text-1538804357320" id="text-1538804357320"></div>
    <div class="form-fill-in"><label for="text-1538804358807" class="fb-text-label"></label><input type="text" placeholder="Last Name" class="form-control" name="text-1538804358807" id="text-1538804358807"></div>
    <br/>
    <div class="form-label"><label for="date-1538805109685" class="fb-date-label">Date of Birth</label><br/>
    <input type="date" class="form-control" name="date-1538805109685" id="date-1538805109685"></div>

    <br/>
    <div class="form-fill-in"><label for="text-1538804773048" class="fb-text-label"></label><input type="text" placeholder="LinkedIn" class="form-control" name="text-1538804773048" id="text-1538804773048"></div>

    <br/>
    <div class="form-fill-in"><label for="text-1538804708509" class="fb-text-label"></label><input type="text" placeholder="Social Security Number" class="form-control" name="text-1538804708509" maxlength="9" id="text-1538804708509"></div></div></form>

    <br/>
    <button type="previous" form="form1" value="Previous"><a href="index">Previous</a></button>
    <button type="continue" form="form1" value="Continue"><a href="../2">Continue</a></button>
</body>
</html>
