<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="contact">
    <div class="title"><h1 id="control-4743682">Getting Started</h1>
      <img src="../static/img/rocket.png" alt="" width="100px" height="100px"></div>

<br/>
</div>


    <div class="form-fill-in"><label for="FN" class="fill"></label><input type="text" placeholder="First Name" class="fill" name="FN" id="FN"></div><br/>
    <div class="form-fill-in"><label for="MN" class="fill"></label><input type="text" placeholder="Middle Name" class="fill" name="MN" id="MN"></div><br/>
    <div class="form-fill-in"><label for="LN" class="fill"></label><input type="text" placeholder="Last Name" class="fill" name="LN" id="LN"></div>
    <br/>
    <div class="form-label"><label for="dob" class="dob">Date of Birth</label>
    <input type="date" class="dob" name="dob" id="dob"></div>

      <div class="form-fill-in"><h2 id="control-515729">Other Information</h2></div>
      <div class="form-fill-in"><label for="email" class="fill"></label><input type="text" placeholder="Email Address" class="fill" name="email" id="email"></div>

    <br/>
    <div class="form-fill-in">
      <label for="li" class="fill"></label>
      <input type="text" placeholder="LinkedIn" class="fill" name="text-1538804773048" id="text-1538804773048"></div>

    <br/>
    <div class="form-fill-in">
      <label for="ssn" class="fill"></label>
      <input type="text" placeholder="Social Security Number" class="fill" name="text-1538804708509" maxlength="9" id="text-1538804708509"></div>
    </div>
  </form>

    <br/>
    <button type="previous" form="form1" value="Previous"><a href="index.html">Previous</a></button>
    <button type="continue" form="form1" value="Continue"><a href="2.html">Continue</a></button> <br/>

</body>
</html>
