<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="rendered-form">
    <div class=""><h1 id="control-8802286">To Get in Touch</h1></div>
    <div class=""><h2 id="control-4797044">Home Address</h2></div>
    <div class="fb-text form-group field-text-1538805345657">
      <label for="text-1538805345657" class="fb-text-label"></label>
      <input type="text" placeholder="Street Address" class="form-control" name="text-1538805345657" id="text-1538805345657">
    </div>
    <div class="fb-text form-group field-text-1538805367957">
      <label for="text-1538805367957" class="fb-text-label"></label>
      <input type="text" placeholder="City" class="form-control" name="text-1538805367957" id="text-1538805367957">
    </div>
    <div class="fb-text form-group field-text-1538805513148">
      <label for="text-1538805513148" class="fb-text-label"></label>
      <input type="text" placeholder="County" class="form-control" name="text-1538805513148" id="text-1538805513148">
    </div>
    <div class="fb-select form-group field-select-1538805593213">
      <label for="select-1538805593213" class="fb-select-label"></label>
      <select class="form-control" name="select-1538805593213" id="select-1538805593213">
        <option disabled="null" selected="null">State</option>
      <option value="option-1" id="select-1538805593213-0">AL</option>
      <option value="option-2" id="select-1538805593213-1">AK</option>
      <option value="option-3" id="select-1538805593213-2">AZ</option>
      <option id="select-1538805593213-3">AR</option>
      <option id="select-1538805593213-4">CA</option>
      <option id="select-1538805593213-5">CO</option>
      <option id="select-1538805593213-6">CT</option>
      <option id="select-1538805593213-7">DE</option>
      <option id="select-1538805593213-8">FL</option>
      <option id="select-1538805593213-9">GA</option>
      <option id="select-1538805593213-10">HI</option>
      <option id="select-1538805593213-11">ID</option>
      <option id="select-1538805593213-12">IL</option>
      <option id="select-1538805593213-13">IN</option>
      <option id="select-1538805593213-14">IA</option>
      <option id="select-1538805593213-15">KS</option>
      <option id="select-1538805593213-16">KY</option>
      <option id="select-1538805593213-17">LA</option>
      <option id="select-1538805593213-18">ME</option>
      <option id="select-1538805593213-19">MD</option>
      <option id="select-1538805593213-20">MA</option>
      <option id="select-1538805593213-21">MI</option>
      <option id="select-1538805593213-22">MN</option>
      <option id="select-1538805593213-23">MS</option>
      <option id="select-1538805593213-24">MO</option>
      <option id="select-1538805593213-25">MT</option>
      <option id="select-1538805593213-26">NE</option>
      <option id="select-1538805593213-27">NV</option>
      <option id="select-1538805593213-28">NH</option>
      <option id="select-1538805593213-29">NJ</option>
      <option id="select-1538805593213-30">NM</option>
      <option id="select-1538805593213-31">NY</option>
      <option id="select-1538805593213-32">NC</option>
      <option id="select-1538805593213-33">ND</option>
      <option id="select-1538805593213-34">OH</option>
      <option id="select-1538805593213-35">OK</option>
      <option id="select-1538805593213-36">OR</option>
      <option id="select-1538805593213-37">PA</option>
      <option id="select-1538805593213-38">RI</option>
      <option id="select-1538805593213-39">SC</option>
      <option id="select-1538805593213-40">SD</option>
      <option id="select-1538805593213-41">TN</option>
      <option id="select-1538805593213-42" selected>TX</option>
      <option id="select-1538805593213-43">UT</option>
      <option id="select-1538805593213-44">VT</option>
      <option id="select-1538805593213-45">VA</option>
      <option id="select-1538805593213-46">WA</option>
      <option id="select-1538805593213-47">WV</option>
      <option id="select-1538805593213-48">WI</option>
      <option id="select-1538805593213-49">WY</option>
    </select></div>
      <div class="fb-text form-group field-text-1538805531319"><label for="text-1538805531319" class="fb-text-label"></label><input type="text" placeholder="Zip Code" class="form-control" name="text-1538805531319" id="text-1538805531319"></div>
      <div class=""><h2 id="control-515729">Other Information</h2></div><div class="fb-text form-group field-text-1538806480197"><label for="text-1538806480197" class="fb-text-label"></label><input type="text" placeholder="Email Address" class="form-control" name="text-1538806480197" id="text-1538806480197"></div>
      <div class="fb-text form-group field-text-1538806498725"><label for="text-1538806498725" class="fb-text-label"></label><input type="text" placeholder="Phone Number" class="form-control" name="text-1538806498725" id="text-1538806498725"></div>
    </div></form>
  <button type="previous" form="form1" value="Previous"><a href="1.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="3.html">Continue</a></button>
</body>
</html>
