<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <h1>More About You</h1>
  <div class="select-gender">
  <h3>Gender</h3>
  <input type="radio" name="s-gender" id="female"/>
  <input type="radio" name="s-gender" id="male" />
  <input type="radio" name="s-gender" id="other" />

  <label class="select-gender" for="female">Female</label>
  <label class="select-gender" for="male">Male</label>
  <label class="select-gender" for="other">Other</label>
  </div>

  <div class="select-race">
  <h3>Race/Ethnicity</h3>
  <input type="checkbox" name="s-race" id="hispanic"/>
  <input type="checkbox" name="s-race" id="black" />
  <input type="checkbox" name="s-race" id="native" />
  <input type="checkbox" name="s-race" id="asian" />
  <input type="checkbox" name="s-race" id="pacific" />
  <input type="checkbox" name="s-race" id="white" />
  <input type="checkbox" name="s-race" id="other-r" />

  <label class="select-race" for="hispanic">Hispanic or Latino</label>
  <label class="select-race" for="black">Black/African-American</label>
  <label class="select-race" for="native">American Indian or Alaskan Native</label>
  <label class="select-race" for="asian">Asian (Not Pacific Islander)</label>
  <label class="select-race" for="pacific">Hawaiian Native or Pacific Islander</label>
  <label class="select-race" for="white">White or Caucasion</label>
  <label class="select-race" for="other-r">Other</label>
  </div>

  <br/>
  <button type="previous" form="form1" value="Previous"><a href="2">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="4">Continue</a></button>
</body>
</html>
