<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form">
    <div class="rendered-form">
    <div class=""><h1 id="control-702370">Your Skills and Background</h1>
      <img src="../static/img/brain.png" alt="" width="100px" height="100px"></div>
</div>

    <div class="select-school">
    <input type="checkbox" name="s-school" id="current-school"/>
    <label class="select-school" for="current-school">Currently Attending School</label>
  </div><br/>

    <div class="form-select">
      <label for="educ-level" class="drop"></label>
      <select class="drop" name="educ-level" id="educ-level">
        <option disabled="null" selected="null">Highest Level of Education</option>
        <option value="option-1" id="select-1538809610973-0">Less than High School</option>
        <option value="option-2" id="select-1538809610973-1">Some High School</option>
        <option value="option-3" id="select-1538809610973-2">High School Degree</option>
        <option id="select-1538809610973-3">GED</option>
        <option id="select-1538809610973-4">Some College</option>
        <option id="select-1538809610973-5">Associate's Degree</option>
        <option id="select-1538809610973-6">Bachelor's Degree</option>
        <option id="select-1538809610973-7">Master's Degree</option>
        <option id="select-1538809610973-8">PhD</option>
      </select>
    </div>


    <div class="computer">
      <h3>Computer Skills</h3>
      <p>None to Expert</p>
  <input type="range" min="1" max="100" value="50" class="slider" id="computer">
</div>
<div class="english">
  <h3>English Literacy</h3>
  <p>None to Expert</p>
  <input type="range" min="1" max="100" value="50" class="slider" id="english">
</div>
<br/>


        <div class="form-select">
          <label for="select-1538809905272" class="fb-select-label"></label>
          <select class="drop" name="select-1538809905272" id="select-1538809905272">
            <option disabled="null" selected="null">Military Status</option>
            <option value="option-1" id="select-1538809905272-0">Selective Service</option>
            <option value="option-2" id="select-1538809905272-1">Active Military</option>
            <option value="option-3" id="select-1538809905272-2">Veteran</option>
            <option id="select-1538809905272-3">Reserve</option>
            <option id="select-1538809905272-4">Honorable Discharge</option>
            <option id="select-1538809905272-5">Dishonorable Discharge</option>
            <option id="select-1538809905272-6">General Discharge</option>
            <option id="select-1538809905272-7">None</option>
          </select>
        </div>
        <div class="form-select">
          <label for="select-1538810215493" class="fb-select-label"></label>
          <select class="drop" name="select-1538810215493" id="select-1538810215493">
            <option disabled="null" selected="null">Military Branch</option>
            <option value="option-1" id="select-1538810215493-0">Navy</option>
            <option value="option-2" id="select-1538810215493-1">Army</option>
            <option value="option-3" id="select-1538810215493-2">Army National Gaurd</option>
            <option id="select-1538810215493-3">Marine Corps</option>
            <option id="select-1538810215493-4">Air Force</option>
            <option id="select-1538810215493-5">Air Force National Gaurd</option>
            <option id="select-1538810215493-6">Coast Gaurd</option>
            <option id="select-1538810215493-7">None</option>
          </select>
        </div>
        <div class=""><h3 id="control-7908673">Have you been convicted of a crime?</h3></div>
        <div class="fb-checkbox-group form-group field-checkbox-group-1538810372971">
          <label for="checkbox-group-1538810372971" class="fb-checkbox-group-label"></label>
          <div class="checkbox-group">
            <div class="checkbox-inline">
              <input name="checkbox-group-1538810372971[]" id="checkbox-group-1538810372971-0" value="option-1" type="checkbox">
              <label for="checkbox-group-1538810372971-0">Yes</label>
            </div>
            <div class="checkbox-inline">
              <input name="checkbox-group-1538810372971[]" id="checkbox-group-1538810372971-1" type="checkbox">
              <label for="checkbox-group-1538810372971-1">No</label>
            </div>
          </div>
        </div>
        <div class="">
                <h3 id="control-4692840">Have you been incarcerated?</h3>
              </div>
              <div class="fb-checkbox-group form-group field-checkbox-group-1538810413855">
                <label for="checkbox-group-1538810413855" class="fb-checkbox-group-label">
                </label><div class="checkbox-group"><div class="checkbox-inline">
                  <input name="checkbox-group-1538810413855[]" id="checkbox-group-1538810413855-0" value="option-1" type="checkbox">
                  <label for="checkbox-group-1538810413855-0">Yes</label>
                </div>
                <div class="checkbox-inline"><input name="checkbox-group-1538810413855[]" id="checkbox-group-1538810413855-1" type="checkbox">
                  <label for="checkbox-group-1538810413855-1">No</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br/>

  <button type="previous" form="form1" value="Previous"><a href="3.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="5.html">Continue</a></button>
</body>
</html>
