<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <h1> Youth Information </h1>
  <p> **Only fill out if under 24** <br/> Check all that apply </p>
  <div class="select-youth">
  <input type="checkbox" name="s-youth" id="foster"/>
  <input type="checkbox" name="s-youth" id="incarc" />
  <input type="checkbox" name="s-youth" id="juvie" />
  <input type="checkbox" name="s-youth" id="single-p" />
  <input type="checkbox" name="s-youth" id="free" />
  <input type="checkbox" name="s-youth" id="dropout" />
  <input type="checkbox" name="s-youth" id="parent" />
  <input type="checkbox" name="s-youth" id="work" />

  <label class="select-youth" for="foster">Was in Foster Care</label>
  <label class="select-youth" for="incarc">One or More Parent Incarcerated</label>
  <label class="select-youth" for="juvie">Was ever in Juvie</label><br/>
  <label class="select-youth" for="single-p" >Single-Parent Household</label>
  <label class="select-youth" for="free">On Free and Reduced Lunch</label>
  <label class="select-youth" for="dropout">High School Dropout</label><br/>
  <label class="select-youth" for="parent">Parent to Others</label>
  <label class="select-youth" for="work">No Work History</label>

  </div>

  <br/>
  <button type="previous" form="form1" value="Previous"><a href="4.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="6.html">Continue</a></button>

  <br/><br/>
  <div id="myProgress">
<div id="myBar6"></div>
</div><span >62.5%</span>
</body>
</html>
