<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="rendered-form">
    <div class=""><h1 id="control-218097">About Your Family</h1>
    <img src="../static/img/family.png" alt="" width="100px" height="100px"></div>
    <div class="select-married">
    <input type="checkbox" name="s-married" id="married"/>
    <label class="select-married" for="married">Married?</label>

    </div>
    <div class="children">
      <h3>Children (17 and Under)</h3>
      <p>0 to 5+</p>
  <input type="range" min="0" max="5" value="0" class="slider" id="children">
</div>
<div class="youngadults">
  <h3>Young Adults (18 to 24)</h3>
  <p>0 to 5+</p>
<input type="range" min="0" max="5" value="0" class="slider" id="youngadults">
</div>

    <div class="fb-text form-group field-text-1538824492348">
      <label for="text-1538824492348" class="fb-text-label"><br></label>
      <input type="text" placeholder="Number of Adults in House" class="fill" name="text-1538824492348" id="text-1538824492348"></div><br/>
      <div class=""><h2 id="control-1658891">Finances</h2></div><div class="fb-text form-group field-text-1538825296914"><label for="text-1538825296914" class="fb-text-label"></label>
        <input type="text" placeholder="Approximate Family Income" class="fill" name="text-1538825296914" id="text-1538825296914"></div>
        <div class="select-loans"><h3 id="control-4170431">Loans and Savings</h3>
          <input type="checkbox" name="s-loans" id="checking"/>
          <input type="checkbox" name="s-loans" id="savings" />
          <input type="checkbox" name="s-loans" id="payday" />
          <input type="checkbox" name="s-loans" id="car-title" />

          <label class="select-loans" for="checking">Checking Account</label>
          <label class="select-loans" for="savings">Savings Account</label><br/>
          <label class="select-loans" for="payday">Payday Loan</label>
          <label class="select-loans" for="car-title" >Car Title Loan</label>

          </div></div>
        <div class="">
          <h3 id="control-476028">Public Assistance</h3>
          <div class="select-public">
          <input type="checkbox" name="s-public" id="breakfast"/>
          <input type="checkbox" name="s-public" id="ceap" />
          <input type="checkbox" name="s-public" id="medicaid" />
          <input type="checkbox" name="s-public" id="smp" />
          <input type="checkbox" name="s-public" id="tanf" />
          <input type="checkbox" name="s-public" id="wic" />
          <input type="checkbox" name="s-public" id="chip" />
          <input type="checkbox" name="s-public" id="headstart" />
          <input type="checkbox" name="s-public" id="sfsp" />
          <input type="checkbox" name="s-public" id="snap" />
          <input type="checkbox" name="s-public" id="wap" />

          <label class="select-public" for="breakfast">Breakfast and Lunch Program</label>
          <label class="select-public" for="ceap">Comprehensive Energy Assist Program</label><br/>
          <label class="select-public" for="medicaid">Medicaid</label>
          <label class="select-public" for="smp" >Special Milk Program</label><br/>
          <label class="select-public" for="tanf">Temporary Asisstance for Needy Families</label>
          <label class="select-public" for="wic">Women, Infants, and Children</label><br/>
          <label class="select-public" for="chip">Children's Medicaid</label>
          <label class="select-public" for="headstart">Headstart</label><br/>
          <label class="select-public" for="sfsp">Summer Food Service Program</label>
          <label class="select-public" for="snap">Supplemental Nutrition Assist Program</label><br/>
          <label class="select-public" for="wap">Weatherization Assist Program</label>


          </div>
        </div>
      </div>
    </form>


  <br/>
  <button type="previous" form="form1" value="Previous"><a href="5.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="7.html">Continue</a></button>
<br/>
  <br/>
  <div id="myProgress">
<div id="myBar7"></div>
</div><span >75%</span>
</body>
</html>
