

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<form id="rendered-form">
  <div class="rendered-form">
    <div class="">
      <h1 id="control-2925208">Past Work Experience
      </h1>
        <img src="../static/img/case.png" alt="" width="100px" height="100px"></div>
      <div class="">
        <h2 id="control-9038281">Current Employment Status</h2></div></div>
        <form id="rendered-form"><div class="rendered-form"><div class="fb-select form-group field-select-1538833331107"><label for="select-1538833331107" class="fb-select-label"></label><select class="fill" name="select-1538833331107" id="select-1538833331107"><option disabled="null" selected="null">Current Employment Status</option><option value="option-1" id="select-1538833331107-0">Employed (Including self-employment)</option><option value="option-2" id="select-1538833331107-1">Recently Terminated</option><option value="option-3" id="select-1538833331107-2">Unemployed WITH Benefits</option><option id="select-1538833331107-3">Unemployed WITHOUT Benefits</option></select></div></div></form>
<h2>Past Employment</h2>
      <p> Please fill up to 3 past job experiences. These may include non-traditional jobs, such as internships or babysitting.</p>


    </div>

    <h3> Job 1</h3>
    <div class="fb-text form-group field-text-1538826990107">
      <label for="text-1538826990107" class="fb-text-label"><br>
      </label>
      <input type="text" placeholder="Job Title" class="fill" name="text-1538826990107" id="text-1538826990107">
    </div><div class="fb-text form-group field-text-1538827012378"><label for="text-1538827012378" class="fb-text-label"><br>
    </label><input type="text" placeholder="Employer Name" class="fill" name="text-1538827012378" id="text-1538827012378">
  </div><br/>
  <form id="rendered-form"><div class="rendered-form"><div class="fb-select form-group field-select-1538833331107"><label for="select-1538833331107" class="fill"></label><select class="fill" name="select-1538833331107" id="select-1538833331107"><option disabled="null" selected="null">Job Type</option><option id="select-1538833331107-0">Full Time (30+ hours)</option><option id="select-1538833331107-1">Part Time (less than 30 hours)</option></select></div>
    <br/><div class="fb-select form-group field-select-1538834255400"><label for="select-1538834255400" class="fb-select-label"></label><select class="fill" name="select-1538834255400" id="select-1538834255400"><option disabled="null" selected="null">Job Commitment</option><option id="select-1538834255400-0">Temporary/Seasonal</option><option id="select-1538834255400-1">Permanent</option><option id="select-1538834255400-2">Internship</option></select></div></div></form>
  <h2 id="control-8561484">Start Date</h2><div class="fb-select form-group field-select-1538826277372">
    <label for="select-1538826277372" class="fb-select-label"><br></label>
    <select class="fill" name="select-1538826277372" id="select-1538826277372">
      <option disabled="null" selected="null">Season</option><option id="select-1538826277372-0">Summer</option>
      <option id="select-1538826277372-1">Spring</option><option id="select-1538826277372-2">Fall</option>
      <option id="select-1538826277372-3">Winter</option></select></div><div class="fb-text form-group field-text-1538826437635">
        <label for="text-1538826437635" class="fb-text-label"><br></label>
        <input type="text" placeholder="Year" class="fill" name="text-1538826437635" maxlength="4" id="text-1538826437635">
      </div><div class=""><h2 id="control-6215453">End Date</h2></div><div class="fb-select form-group field-select-1538826436207">
        <label for="select-1538826436207" class="fb-select-label"><br></label>
        <select class="fill" name="select-1538826436207" id="select-1538826436207">
          <option disabled="null" selected="null">Season</option>
          <option id="select-1538826436207-0">Summer</option><option id="select-1538826436207-1">Spring</option>
          <option id="select-1538826436207-2">Fall</option><option id="select-1538826436207-3">Winter</option>
        </select></div><div class="fb-text form-group field-text-1538826377162">
          <label for="text-1538826377162" class="fb-text-label"><br></label>
          <input type="text" placeholder="Year" class="fill" name="text-1538826377162" maxlength="4" id="text-1538826377162"></div>
          <div class="fb-text form-group field-text-1538826451713"><label for="text-1538826451713" class="fb-text-label"><br></label>
            <br/><input type="text" placeholder="Hourly Wage" class="fill" name="text-1538826451713" id="text-1538826451713"></div>
            <div class="fb-text form-group field-text-1538826496575"><label for="text-1538826496575" class="fb-text-label"><br></label>
              <input type="text" placeholder="Average Hours Worked Per Week" class="fill" name="text-1538826496575" id="text-1538826496575">
            </div><div class="fb-text form-group field-text-1538826691242"><label for="text-1538826691242" class="fb-text-label"><br>
            </label><input type="text" placeholder="Job City" class="fill" name="text-1538826691242" id="text-1538826691242">
          </div><div class="fb-text form-group field-text-1538826831003"><label for="text-1538826831003" class="fb-text-label"><br></label>
            <input type="text" placeholder="Reason for Leaving (if any)" class="fill" name="text-1538826831003" id="text-1538826831003">
          </div></form>
          <br/>

        </div>

      </br>
                <h3> Job 2</h3>

        <div class="fb-text form-group field-text-1538826990107">
          <label for="text-1538826990107" class="fb-text-label"><br>
          </label>
          <input type="text" placeholder="Job Title" class="fill" name="text-1538826990107" id="text-1538826990107">
        </div><div class="fb-text form-group field-text-1538827012378"><label for="text-1538827012378" class="fb-text-label"><br>
        </label><input type="text" placeholder="Employer Name" class="fill" name="text-1538827012378" id="text-1538827012378">
      </div><br/>
      <form id="rendered-form"><div class="rendered-form"><div class="fb-select form-group field-select-1538833331107"><label for="select-1538833331107" class="fill"></label><select class="fill" name="select-1538833331107" id="select-1538833331107"><option disabled="null" selected="null">Job Type</option><option id="select-1538833331107-0">Full Time (30+ hours)</option><option id="select-1538833331107-1">Part Time (less than 30 hours)</option></select></div>
        <br/><div class="fb-select form-group field-select-1538834255400"><label for="select-1538834255400" class="fb-select-label"></label><select class="fill" name="select-1538834255400" id="select-1538834255400"><option disabled="null" selected="null">Job Commitment</option><option id="select-1538834255400-0">Temporary/Seasonal</option><option id="select-1538834255400-1">Permanent</option><option id="select-1538834255400-2">Internship</option></select></div></div></form>
      <h2 id="control-8561484">Start Date</h2><div class="fb-select form-group field-select-1538826277372">
        <label for="select-1538826277372" class="fb-select-label"><br></label>
        <select class="fill" name="select-1538826277372" id="select-1538826277372">
          <option disabled="null" selected="null">Season</option><option id="select-1538826277372-0">Summer</option>
          <option id="select-1538826277372-1">Spring</option><option id="select-1538826277372-2">Fall</option>
          <option id="select-1538826277372-3">Winter</option></select></div><div class="fb-text form-group field-text-1538826437635">
            <label for="text-1538826437635" class="fb-text-label"><br></label>
            <input type="text" placeholder="Year" class="fill" name="text-1538826437635" maxlength="4" id="text-1538826437635">
          </div><div class=""><h2 id="control-6215453">End Date</h2></div><div class="fb-select form-group field-select-1538826436207">
            <label for="select-1538826436207" class="fb-select-label"><br></label>
            <select class="fill" name="select-1538826436207" id="select-1538826436207">
              <option disabled="null" selected="null">Season</option>
              <option id="select-1538826436207-0">Summer</option><option id="select-1538826436207-1">Spring</option>
              <option id="select-1538826436207-2">Fall</option><option id="select-1538826436207-3">Winter</option>
            </select></div><div class="fb-text form-group field-text-1538826377162">
              <label for="text-1538826377162" class="fb-text-label"><br></label>
              <input type="text" placeholder="Year" class="fill" name="text-1538826377162" maxlength="4" id="text-1538826377162"></div>
              <div class="fb-text form-group field-text-1538826451713"><label for="text-1538826451713" class="fb-text-label"><br></label>
                <br/><input type="text" placeholder="Hourly Wage" class="fill" name="text-1538826451713" id="text-1538826451713"></div>
                <div class="fb-text form-group field-text-1538826496575"><label for="text-1538826496575" class="fb-text-label"><br></label>
                  <input type="text" placeholder="Average Hours Worked Per Week" class="fill" name="text-1538826496575" id="text-1538826496575">
                </div><div class="fb-text form-group field-text-1538826691242"><label for="text-1538826691242" class="fb-text-label"><br>
                </label><input type="text" placeholder="Job City" class="fill" name="text-1538826691242" id="text-1538826691242">
              </div><div class="fb-text form-group field-text-1538826831003"><label for="text-1538826831003" class="fb-text-label"><br></label>
                <input type="text" placeholder="Reason for Leaving (if any)" class="fill" name="text-1538826831003" id="text-1538826831003">
              </div></form>
              <br/>
            </div>

          </br>
                    <h3> Job 3</h3>

            <div class="fb-text form-group field-text-1538826990107">
              <label for="text-1538826990107" class="fb-text-label"><br>
              </label>
              <input type="text" placeholder="Job Title" class="fill" name="text-1538826990107" id="text-1538826990107">
            </div><div class="fb-text form-group field-text-1538827012378"><label for="text-1538827012378" class="fb-text-label"><br>
            </label><input type="text" placeholder="Employer Name" class="fill" name="text-1538827012378" id="text-1538827012378">
          </div><br/>
          <form id="rendered-form"><div class="rendered-form"><div class="fb-select form-group field-select-1538833331107"><label for="select-1538833331107" class="fill"></label><select class="fill" name="select-1538833331107" id="select-1538833331107"><option disabled="null" selected="null">Job Type</option><option id="select-1538833331107-0">Full Time (30+ hours)</option><option id="select-1538833331107-1">Part Time (less than 30 hours)</option></select></div>
            <br/><div class="fb-select form-group field-select-1538834255400"><label for="select-1538834255400" class="fb-select-label"></label><select class="fill" name="select-1538834255400" id="select-1538834255400"><option disabled="null" selected="null">Job Commitment</option><option id="select-1538834255400-0">Temporary/Seasonal</option><option id="select-1538834255400-1">Permanent</option><option id="select-1538834255400-2">Internship</option></select></div></div></form>
          <h2 id="control-8561484">Start Date</h2><div class="fb-select form-group field-select-1538826277372">
            <label for="select-1538826277372" class="fb-select-label"><br></label>
            <select class="fill" name="select-1538826277372" id="select-1538826277372">
              <option disabled="null" selected="null">Season</option><option id="select-1538826277372-0">Summer</option>
              <option id="select-1538826277372-1">Spring</option><option id="select-1538826277372-2">Fall</option>
              <option id="select-1538826277372-3">Winter</option></select></div><div class="fb-text form-group field-text-1538826437635">
                <label for="text-1538826437635" class="fb-text-label"><br></label>
                <input type="text" placeholder="Year" class="fill" name="text-1538826437635" maxlength="4" id="text-1538826437635">
              </div><div class=""><h2 id="control-6215453">End Date</h2></div><div class="fb-select form-group field-select-1538826436207">
                <label for="select-1538826436207" class="fb-select-label"><br></label>
                <select class="fill" name="select-1538826436207" id="select-1538826436207">
                  <option disabled="null" selected="null">Season</option>
                  <option id="select-1538826436207-0">Summer</option><option id="select-1538826436207-1">Spring</option>
                  <option id="select-1538826436207-2">Fall</option><option id="select-1538826436207-3">Winter</option>
                </select></div><div class="fb-text form-group field-text-1538826377162">
                  <label for="text-1538826377162" class="fb-text-label"><br></label>
                  <input type="text" placeholder="Year" class="fill" name="text-1538826377162" maxlength="4" id="text-1538826377162"></div>
                  <div class="fb-text form-group field-text-1538826451713"><label for="text-1538826451713" class="fb-text-label"><br></label>
                    <br/><input type="text" placeholder="Hourly Wage" class="fill" name="text-1538826451713" id="text-1538826451713"></div>
                    <div class="fb-text form-group field-text-1538826496575"><label for="text-1538826496575" class="fb-text-label"><br></label>
                      <input type="text" placeholder="Average Hours Worked Per Week" class="fill" name="text-1538826496575" id="text-1538826496575">
                    </div><div class="fb-text form-group field-text-1538826691242"><label for="text-1538826691242" class="fb-text-label"><br>
                    </label><input type="text" placeholder="Job City" class="fill" name="text-1538826691242" id="text-1538826691242">
                  </div><div class="fb-text form-group field-text-1538826831003"><label for="text-1538826831003" class="fb-text-label"><br></label>
                    <input type="text" placeholder="Reason for Leaving (if any)" class="fill" name="text-1538826831003" id="text-1538826831003">
                  </div></form>
<br/>
  <br/>
  <button type="previous" form="form1" value="Previous"><a href="6.html">Previous</a></button>
  <button type="continue" form="form1" value="Submit"><a href="9.html">Submit</a></button>

  <br/><br/>
  <div id="myProgress">
<div id="myBar8"></div>
</div><span >87.5%</span>
</body>
</html>
