

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <form id="rendered-form"><div class="rendered-form"><div class=""><h1 id="control-5247891">Come Meet Us</h1>
    <img src="../static/img/calendar.png" alt="" width="100px" height="100px"></div><br/>
</div><div class="fb-checkbox-group form-group field-checkbox-group-1538827924581"><label for="checkbox-group-1538827924581" class="fb-checkbox-group-label"></label>
  <div class="checkbox-group"><div class="checkbox"><input name="checkbox-group-1538827924581[]" id="checkbox-group-1538827924581-0" value="option-1" type="checkbox">
    <label for="checkbox-group-1538827924581-0">Schedule an In Person Appointment</label></div></div></div><div class="fb-date form-group field-date-1538827960094">
  <label for="date-1538827960094" class="fb-date-label"></label>
  <input type="date" placeholder="Appointment Date" class="drop" name="date-1538827960094" id="date-1538827960094"></div><div class="fb-select form-group field-select-1538828486592"><label for="select-1538828486592" class="fb-select-label">Select</label>
  <br/><select class="drop" name="select-1538828486592" id="select-1538828486592"><option disabled="null" selected="null">Appointment Time</option>
    <option value="option-1" id="select-1538828486592-0">8am - 10 am</option><option value="option-2" id="select-1538828486592-1">10 am - 11 am</option>
    <option id="select-1538828486592-2">11 am - 12 pm</option>
    <option value="option-3" id="select-1538828486592-3">12 pm - 1 pm</option><option id="select-1538828486592-4">1 pm - 2 pm</option>
    <option id="select-1538828486592-5">2 pm - 4 pm</option></select></div><br/>
  <div class="fb-checkbox-group form-group field-checkbox-group-1538827955838"><label for="checkbox-group-1538827955838" class="fb-checkbox-group-label"></label><div class="checkbox-group"><div class="checkbox"><input name="checkbox-group-1538827955838[]" id="checkbox-group-1538827955838-0" value="option-1" type="checkbox"><label for="checkbox-group-1538827955838-0">Schedule a Phone or Video Call</label><br/>
  </div></div></div><div class="fb-date form-group field-date-1538827962548"><label for="date-1538827962548" class="fb-date-label"></label><input type="date" placeholder="Appointment Date" class="drop" name="date-1538827962548" id="date-1538827962548"></div><div class="fb-select form-group field-select-1538828481372"><label for="select-1538828481372" class="fb-select-label">Select</label><br/><select class="drop" name="select-1538828481372" id="select-1538828481372"><option disabled="null" selected="null">Appointment Time</option><option value="option-1" id="select-1538828481372-0">8am - 10 am</option><option value="option-2" id="select-1538828481372-1">10 am - 11 am</option><option id="select-1538828481372-2">11 am - 12 pm</option><option value="option-3" id="select-1538828481372-3">12 pm - 1 pm</option><option id="select-1538828481372-4">1 pm - 2 pm</option><option id="select-1538828481372-5">2 pm - 4 pm</option></select></div>
  <br/><div class="fb-checkbox-group form-group field-checkbox-group-1538827956707"><label for="checkbox-group-1538827956707" class="fb-checkbox-group-label"></label>
    <div class="checkbox-group"><div class="checkbox"><input name="checkbox-group-1538827956707[]" id="checkbox-group-1538827956707-0" value="option-1" type="checkbox" ><label for="checkbox-group-1538827956707-0">I'd rather do a walk-in appointment</label></div></div></div><div class="fb-select form-group field-select-1538827993277"><label for="select-1538827993277" class="fb-select-label">Select</label>
    <br/><select class="drop" name="select-1538827993277" id="select-1538827993277"><option disabled="null" selected="null">Times I'm Usually Free</option><option value="option-1" id="select-1538827993277-0">8am - 10 am</option><option value="option-2" id="select-1538827993277-1">10 am - 11 am</option><option id="select-1538827993277-2">11 am - 12 pm</option><option value="option-3" id="select-1538827993277-3">12 pm - 1 pm</option><option id="select-1538827993277-4">1 pm - 2 pm</option><option id="select-1538827993277-5">2 pm - 4 pm</option></select></div></div></form>


  <br/>
  <button type="previous" form="form1" value="Previous"><a href="2.html">Previous</a></button>
  <button type="continue" form="form1" value="Continue"><a href="3.html">Continue</a></button>

  <br/>
  <br/>
  <div id="myProgress">
<div id="myBar3"></div>
</div><span >25%</span>
</body>
</html>
