

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SER Jobs for Progress</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--Custom CSS-->
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <h1 class="home-text-animation"> Congratulations!!! <h1>
    <img src="../static/img/confetti.png" alt="" width="100px" height="100px"><br/>
    <video width="720px" height="540px" controls autoplay>
  <source src="../static/img/IMG_0501.MOV" type="video/mp4">
  Your browser does not support the video tag.
</video>
  <h2> Thank you for applying! <h2>


  <br/>
  <div id="myProgress">
<div id="myBar9"></div>
</div><span >100%</span>
</body>
</html>
